<div class="site-nav">
  <div class="site-nav__icons">

    {% if shop.customer_accounts_enabled %}
      <a class="site-nav__link site-nav__link--icon" href="{{ routes.account_url }}">
        {%- if section.settings.main_menu_alignment != 'center-split-custom' -%}
          <svg aria-hidden="true" focusable="false" role="presentation" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 2C7.3832 2 2 7.3832 2 14C2 16.898 3.0328 19.5592 4.7496 21.6352C4.754 21.6412 4.7544 21.6488 4.7592 21.6544C5.9988 23.1492 7.5556 24.2952 9.2904 25.0356C9.3104 25.044 9.33 25.0532 9.35 25.0616C9.4904 25.1208 9.6324 25.1756 9.7748 25.2292C9.8308 25.2504 9.8868 25.272 9.9436 25.2924C10.0664 25.3364 10.19 25.378 10.3144 25.418C10.394 25.4436 10.4736 25.4688 10.554 25.4928C10.664 25.5256 10.7744 25.5572 10.8856 25.5872C10.9832 25.6136 11.0816 25.638 11.18 25.6616C11.2796 25.6856 11.3796 25.7096 11.48 25.7308C11.592 25.7548 11.7052 25.776 11.8188 25.7968C11.91 25.8136 12.0008 25.8312 12.0928 25.846C12.2188 25.8664 12.3456 25.8824 12.4728 25.8988C12.5548 25.9092 12.6364 25.9212 12.7188 25.93C12.8628 25.9452 13.008 25.956 13.1536 25.966C13.2212 25.9708 13.2884 25.978 13.3564 25.9816C13.5688 25.9936 13.7836 26 14 26C14.2164 26 14.4312 25.9936 14.6444 25.9824C14.7124 25.9788 14.7796 25.9716 14.8472 25.9668C14.9928 25.9564 15.138 25.946 15.282 25.9308C15.3644 25.922 15.446 25.91 15.528 25.8996C15.6552 25.8832 15.782 25.8672 15.908 25.8468C15.9996 25.832 16.0908 25.8144 16.182 25.7976C16.2952 25.7768 16.4084 25.7556 16.5208 25.7316C16.6212 25.71 16.7208 25.6864 16.8208 25.6624C16.9192 25.6384 17.0176 25.614 17.1152 25.588C17.2264 25.5584 17.3368 25.5264 17.4468 25.4936C17.5272 25.4696 17.6068 25.4444 17.6864 25.4188C17.8108 25.3788 17.9344 25.3372 18.0572 25.2932C18.1136 25.2728 18.1696 25.2512 18.226 25.23C18.3688 25.1764 18.5104 25.1212 18.6508 25.0624C18.6708 25.054 18.6904 25.0448 18.7104 25.0364C20.4448 24.296 22.002 23.15 23.2416 21.6552C23.2464 21.6496 23.2468 21.6416 23.2512 21.636C24.9672 19.5592 26 16.898 26 14C26 7.3832 20.6168 2 14 2ZM18.8628 24.088C18.8568 24.0908 18.8512 24.094 18.8452 24.0968C18.7024 24.1656 18.5572 24.2304 18.4108 24.2936C18.3776 24.3076 18.3448 24.322 18.3116 24.336C18.1836 24.3896 18.054 24.4404 17.9236 24.4892C17.8692 24.5096 17.8148 24.5296 17.76 24.5488C17.6444 24.59 17.5284 24.6296 17.4112 24.6672C17.3384 24.6904 17.2652 24.7124 17.192 24.734C17.088 24.7652 16.9836 24.7952 16.878 24.8232C16.7892 24.8468 16.6996 24.8684 16.61 24.8896C16.516 24.912 16.4224 24.9348 16.3276 24.9548C16.224 24.9768 16.1196 24.9956 16.0156 25.0144C15.9312 25.03 15.8472 25.0464 15.762 25.06C15.6448 25.0784 15.5264 25.0932 15.4084 25.108C15.3336 25.1176 15.2592 25.1288 15.1836 25.1368C15.0488 25.1512 14.9128 25.1604 14.7772 25.17C14.7168 25.174 14.6568 25.1808 14.5956 25.184C14.3976 25.1944 14.1992 25.2 14 25.2C13.8008 25.2 13.6024 25.1944 13.4048 25.184C13.344 25.1808 13.284 25.1744 13.2232 25.17C13.0872 25.1608 12.9516 25.1512 12.8168 25.1368C12.7412 25.1288 12.6668 25.1176 12.592 25.108C12.474 25.0932 12.3556 25.0784 12.2384 25.06C12.1532 25.0464 12.0692 25.03 11.9848 25.0144C11.8804 24.9956 11.776 24.9764 11.6728 24.9548C11.578 24.9348 11.484 24.912 11.3904 24.8896C11.3008 24.868 11.2112 24.8468 11.1224 24.8232C11.0172 24.7952 10.9124 24.7648 10.8084 24.734C10.7352 24.7124 10.662 24.6904 10.5892 24.6672C10.472 24.6296 10.3556 24.59 10.2404 24.5488C10.1856 24.5292 10.1312 24.5092 10.0768 24.4892C9.9464 24.4404 9.8168 24.3896 9.6888 24.336C9.6556 24.3224 9.6232 24.308 9.59 24.294C9.4436 24.2312 9.2984 24.166 9.1552 24.0972C9.1492 24.0944 9.1436 24.0916 9.1376 24.0884C7.742 23.4132 6.5092 22.4548 5.5088 21.2908C6.282 18.4436 8.4708 16.1484 11.2868 15.2352C11.3424 15.2692 11.4004 15.2996 11.4576 15.3316C11.4912 15.3504 11.5244 15.3704 11.5584 15.3884C11.6776 15.4516 11.7984 15.5108 11.922 15.564C12.0168 15.6056 12.1148 15.6408 12.2124 15.6768C12.2316 15.6836 12.2508 15.6912 12.27 15.698C12.8124 15.89 13.3928 16 14 16C14.6072 16 15.1876 15.89 15.7296 15.698C15.7488 15.6912 15.768 15.6836 15.7872 15.6768C15.8848 15.6408 15.9828 15.6056 16.0776 15.564C16.2012 15.5108 16.322 15.4516 16.4412 15.3884C16.4752 15.37 16.5084 15.3504 16.542 15.3316C16.5992 15.2996 16.6576 15.2692 16.7136 15.2348C19.5296 16.1484 21.718 18.4436 22.4916 21.2904C21.4912 22.454 20.2584 23.4124 18.8628 24.088ZM9.6 10.8C9.6 8.374 11.574 6.4 14 6.4C16.426 6.4 18.4 8.374 18.4 10.8C18.4 12.3432 17.5996 13.7012 16.3936 14.4868C16.236 14.5892 16.072 14.6808 15.9036 14.7608C15.8836 14.7704 15.864 14.7804 15.844 14.7896C14.6856 15.3164 13.3144 15.3164 12.156 14.7896C12.136 14.7804 12.116 14.7704 12.0964 14.7608C11.9276 14.6808 11.764 14.5892 11.6064 14.4868C10.4004 13.7012 9.6 12.3432 9.6 10.8ZM23.0916 20.5292C22.1848 17.8516 20.116 15.6876 17.4728 14.6596C18.53 13.7072 19.2 12.332 19.2 10.8C19.2 7.9328 16.8672 5.6 14 5.6C11.1328 5.6 8.8 7.9328 8.8 10.8C8.8 12.332 9.47 13.7072 10.5276 14.6596C7.8844 15.688 5.8156 17.8516 4.9088 20.5292C3.5836 18.6896 2.8 16.4352 2.8 14C2.8 7.8244 7.8244 2.8 14 2.8C20.1756 2.8 25.2 7.8244 25.2 14C25.2 16.4352 24.4164 18.6896 23.0916 20.5292Z" fill="black"/>
          </svg>
      	{%- endif -%}
        <span class="sm-down--hide{% if section.settings.main_menu_alignment != 'center-split-custom' and section.settings.main_menu_alignment != 'center-left' %} icon__fallback-text{% endif %}">
          {% if customer %}
            {{ 'layout.customer.account' | t }}
          {% else %}
            {{ 'layout.customer.log_in' | t }}
          {% endif %}
        </span>
      </a>
    {% endif %}

    {% if section.settings.main_menu_alignment == 'left' or section.settings.main_menu_alignment == 'left-center' or section.settings.main_menu_alignment == 'left-drawer' %}
      <button
        type="button"
        class="site-nav__link site-nav__link--icon js-drawer-open-nav{% if section.settings.main_menu_alignment == 'left' or section.settings.main_menu_alignment == 'left-center' %} sm-up--hide{% endif %}"
        aria-controls="NavDrawer"
      >
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="4" y1="9.07353" x2="25" y2="9.07353" stroke="black" stroke-width="1.85294"/>
          <line x1="4" y1="14.0149" x2="25" y2="14.0149" stroke="black" stroke-width="1.85294"/>
          <line x1="4" y1="18.9563" x2="25" y2="18.9563" stroke="black" stroke-width="1.85294"/>
        </svg>
        <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
      </button>
    {% endif %}

    <a href="{{ routes.cart_url }}" class="site-nav__link site-nav__link--icon js-drawer-open-cart js-no-transition" aria-controls="CartDrawer" data-icon="{{ settings.cart_icon }}">
      <span class="cart-link">
        {%- if section.settings.main_menu_alignment != 'center-split-custom' -%}
          {%- if settings.cart_icon == 'cart' -%}
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 64 64"><path fill="none" d="M14 17.44h46.79l-7.94 25.61H20.96l-9.65-35.1H3"/><circle cx="27" cy="53" r="2"/><circle cx="47" cy="53" r="2"/></svg>
          {%- else -%}
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bag" viewBox="0 0 64 64"><g fill="none" stroke="#000" stroke-width="2"><path d="M25 26c0-15.79 3.57-20 8-20s8 4.21 8 20"/><path d="M14.74 18h36.51l3.59 36.73h-43.7z"/></g></svg>
          {%- endif -%}
        {%- endif -%}
        <span{% if section.settings.main_menu_alignment != 'center-split-custom' and section.settings.main_menu_alignment != 'center-left' %} class="icon__fallback-text"{% else %} class="sm-down--hide"{% endif %}>{{ 'layout.cart.title' | t }}</span>
        <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>
      </span>
    </a>
  </div>
</div>
